.spinner-container-submit {
    position: fixed;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(154, 160, 176, 0.5);
    top: 0;
    left: 0;
    z-index: 1000;
}

.spinner {
    margin: 0 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    border-top: 4px solid #007bff;
    animation: rotating-spinner 1s linear infinite;
}

@keyframes rotating-spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}